<%- include('../partials/header') %>
<div class="container" style="width:30%">
	<h1 style="text-align: center">
		Creating a New Comment for <%= blog.name %>
	</h1>
	<div style= "width:30%, margin: 0 auto">
		<form action="/blogs/<%= blog._id%>/comments" method="POST">
			<div class="form-group">
				<input type="textbox" placeholder="Comment" name="comment[text]" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary btn-block">
			</div>
		</form>
	</div>
	<a href="/blogs/<%=blog._id%>">Go Back!</a>
</div>

<%- include ("../partials/footer.ejs") %>

